.space_card_container {
	margin-bottom: 5vh;
}

.space_card_item {
	width: 70%;
	height: 60%;
	border: 1px solid rgba(128, 128, 128, 0.119);
	-webkit-box-shadow: 6px 7px 15px -2px #727272;
	box-shadow: 6px 7px 15px -2px #727272;
	color: rgba(0, 0, 0, 0.37);
	margin: 4vh;
	margin-bottom: 20px;
	background-color: white;
}

.space_card_item_image {
	width: 100%;
	height: 70%;
	margin: 0;
	padding: 0;
}

.space_card_title {
	height: 30%;
	background-color: rgba(0, 0, 0, 0.726);
	color: white;
	margin: 0;
	padding: 0;
}

.space_card_title > h4 {
	margin: 0;
	padding: 2vh;
}

.space_card_scroll {
	overflow-x: scroll;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	white-space: wrap;
	height: 80vh;
}

/* HACER DISPLAY PARA TABLET Y PC
.space_card_item_price{
  display: flex;
  height: 15%;
  background-color: black;
  color: white;
  margin: none;
} */
