.favourites_card_container {
	margin-top: 5vh;
}

.favourites_space_card_scroll {
	overflow-x: scroll;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	white-space: wrap;
	height: 80vh;
	width: 100%;
}
