.cart_container {
	margin: 12vh 4vh;
}

.cart_empty {
	position: absolute;
	bottom: 45%;
	left: 20%;
}

.cart_container > h3 {
	margin-bottom: 6vh;
}

.cart_item_name_container {
	text-align: left;
	margin-right: 2vh;
	font-size: 0.9rem;
}

.cart_price {
	padding: 0 3vh;
}

.cart_less_button {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	margin-right: 2vh;
	font-weight: bolder;
	background-color: white;
}

.cart_buttons_container {
	padding: 0 3vh;
}

.cart_more_button {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	margin-left: 2vh;
	font-weight: bolder;
	background-color: white;
}

.cart_plus_button_container {
	display: flex;
}

.cart_confirm_button {
	background-image: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
}
.cart_confirm_button {
	margin: 4vh 25%;
	padding: 1vh 1.5vh;
	text-align: center;
	font-weight: bold;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 10px;
	display: block;
	border: none;
	margin: 0 auto;
}

.cart_confirm_button:hover {
	background-position: right center;
	color: #fff;
	text-decoration: none;
}
