.new_edit_form_container {
	width: 100%;
	height: 80vh;
	margin-top: 5vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.login_signup_container {
	margin: 20% 15%;
}

.new_edit_form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 1rem 3rem;
}

.new_edit_form > label {
	font-weight: 800;
}
.new_edit_form_input {
	height: 20px;
	margin: 1vh;
	padding-left: 1rem;
	border-radius: 10px;
	border: 2px solid black;
}

.new_edit_table_title {
	text-align: center;
}

.new_edit_table_input {
	width: 60%;
	margin: 2vh 0;
}

.new_edit_send {
	background-image: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
}
.new_edit_send {
	margin: 2vh 35%;
	width: 30%;
	padding: 2.5vh 2vh;
	text-align: center;
	font-weight: bold;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 10px;
	display: block;
	border: none;
}

.new_edit_send:hover {
	background-position: right center;
	color: #fff;
	text-decoration: none;
}

.button_link {
	color: white;
	text-decoration: none;
}

.back_button {
	text-decoration: none;
	color: black;
	font-weight: bolder;
	position: absolute;
	left: 8%;
	top: 10%;
}

.delete_button {
	margin: 0 35%;
	width: 30%;
	padding: 2.5vh 2vh;
	color: black;
	font-weight: bolder;
	border: 2px solid black;
	border-radius: 10px;
	background-color: white;
}
