.new_edit_form_container {
	width: 100%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.login_signup_container {
	margin: 20% 15%;
}

.new_edit_form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 1rem 3rem;
}

.new_edit_form > label {
	font-weight: 800;
}
.new_edit_form_input {
	height: 35px;
	margin: 1vh;
	padding-left: 1rem;
	border-radius: 10px;
	border: 2px solid black;
}

.new_edit_table_title {
	text-align: center;
}

.new_edit_table_input {
	width: 60%;
	margin: 2vh 0;
}

.new_edit_send {
	background-image: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
}
.new_edit_send {
	margin: 4vh 25%;
	padding: 3vh 3vh;
	text-align: center;
	font-weight: bold;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 10px;
	display: block;
	border: none;
}

.new_edit_send:hover {
	background-position: right center;
	color: #fff;
	text-decoration: none;
}

.button_link {
	text-decoration: none;
}
