.back_button{
  text-decoration: none;
  background-color: white;
  border: 2px solid black;
  color: black;
  margin: 2vh;
  padding: 1vh 2vh;
}

.space_details_header{
  display: flex;
  justify-content: space-between;
}

.space_details_image{
  width: 100%;
  height: 30%;
}

.space_details_content_title{
  color: white;
  font-weight: bold;
  background-color: black;
  padding: 3vh 15vh;
  -webkit-box-shadow: 6px 7px 15px -2px rgb(223, 86, 76);
  box-shadow: 6px 7px 15px -2px rgb(223, 86, 76);
}


.space_details_price_container{
  display: flex;
  /* border: 1px solid black;
  border-radius: 3%; */
  margin: 0 3vh;
}

.space_details_price_details{
  margin: 0 2vh;
}

.space_details_services_container{
  margin: 0 3vh;
  /* border: 1px solid black;
  border-radius: 3%; */
}