.space_details_page {
	margin: 3vh 0;
	height: 100vh;
}

.space_details_header {
	display: flex;
	height: 5%;
	justify-content: space-between;
	margin: 0 3vh;
}
.space_details_header > h4 {
	align-self: center;
}

.space_details_back {
	text-decoration: none;
	color: black;
	font-weight: bolder;
}

.space_details_image_container {
	margin-bottom: 0;
	height: 35%;
}

.space_details_image {
	width: 100%;
	height: 100%;
	z-index: 1;
}

.heart_black {
	width: 3rem;
	z-index: 2;
	position: relative;
	left: 40%;
	bottom: 25%;
}

.space_details_price_container {
	display: flex;
	justify-content: center;
	margin: 1vh 3vh;
}

.add_space_button {
	border: 2px solid black;
	background-color: white;
	padding: 1vh 2vh;
	font-size: 12px;
	border-radius: 10px;
}

.space_details_price_details {
	margin: 0 2vh 2vh;
	font-size: 11px;
	font-weight: bold;
}

.space_details_services_title {
	margin-top: 3vh;
	margin-bottom: 1.5vh;
}

.space_details_services_container {
	margin: 2vh;
	height: 35vh;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.space_details_services_item {
	margin: 1vh;
	font-size: 12px;
	font-weight: bold;
}

.add_product_button {
	border: 2px solid black;
	background-color: white;
	padding: 1vh 0;
	width: 70%;
	font-size: 12px;
	border-radius: 10px;
	margin-left: 3vh;
}
