.user_menu_container {
	height: 100vh;
}

.user_menu_buttons_container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 35vh;
}

.user_menu_button {
	background-image: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
}
.user_menu_button {
	margin: 2vh 25%;
	padding: 2vh 1.5vh;
	text-align: center;
	font-weight: bold;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 10px;
	display: block;
	border: none;
}

.user_menu_button:hover {
	background-position: right center;
	color: #fff;
	text-decoration: none;
}

.button_link {
	color: white;
	text-decoration: none;
}
