.navbar_buttons_container{
 display: flex;
 justify-content: space-around;
 margin: none;
 background-color: black;
-webkit-box-shadow: 0 8px 6px -6px rgba(204,200,200,0.75);
-moz-box-shadow: 0 8px 6px -6px rgba(204,200,200,0.75);
box-shadow: 0 8px 6px -6px rgba(204,200,200,0.75);
}

.navbar_button{
  margin: 3vh;
  padding: 2vh 5vh;
  background-color: rgb(223, 86, 76);
  color: white;
  text-decoration: none;
  font-weight: bold;
  border: none;
}

.navbar_buttons_container > p{
    color: white;
}

.navbar_button_logout{
  margin: 2vh;
  padding: 1vh 1.5vh;
  background-color: rgb(223, 86, 76);
  color: white;
  text-decoration: none;
  font-weight: bold;
  border: none;
}

.navbar_burguer{
  margin: 3vh;
}